<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ch.mi-ca.flatuicolors</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>07F45581-5A3D-4520-90DA-CF7B802CBC8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C72C45A1-3999-4B1F-8AC2-225E4122F076</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0350A98-9808-4E69-9044-64686BE56B18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mi-ca</string>
	<key>description</key>
	<string>Alfred App workflow that help you to get flatuicolors.com hexa code by just typing : flat</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Flat UI Colors</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query} copied to clipboard ✌️</string>
				<key>title</key>
				<string>FlatUIColors</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C72C45A1-3999-4B1F-8AC2-225E4122F076</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php script.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
                <integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>flat</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php filter.php "{query}"</string>
				<key>title</key>
				<string>FlatUIColors</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>07F45581-5A3D-4520-90DA-CF7B802CBC8E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E0350A98-9808-4E69-9044-64686BE56B18</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred App flatuicolors Workflow

Pick colors from [flatUIcolors.com](www.flatuicolors.com)

###[download](https://github.com/mi-ca/alfredapp_flatuicolors_workflow/blob/master/flatuicolors.alfredworkflow?raw=true)

![Screenshot flatuicolors Workflow](https://raw.github.com/mi-ca/alfredapp_flatuicolors_workflow/master/src/flatuicolors-workflow-screenshot.png)

##install
1. [download flatuicolors.alfredworkflow](https://github.com/mi-ca/alfredapp_flatuicolors_workflow/blob/master/flatuicolors.alfredworkflow?raw=true)
2. double click to install
3. choose **tool** or **productivity** category

## usage :
* type : `flat`
* pick a color with shortcut `cmd + x` or with arrow keys
* auto past</string>
	<key>uidata</key>
	<dict>
		<key>07F45581-5A3D-4520-90DA-CF7B802CBC8E</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>C72C45A1-3999-4B1F-8AC2-225E4122F076</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>E0350A98-9808-4E69-9044-64686BE56B18</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://mi-ca.ch</string>
</dict>
</plist>
